<header>
    <div class="header-title">
        <h1>Search SPOT</h1>
    </div>
    <div class="header-txt">
        <p>

        </p>
    </div>

    <div class="service-in">
        <ul class="button-menu">
            <li>
                <a href="/login">ログイン</a>
            </li>
            <li>
                <a href="/entry">新規登録</a>
            </li>
        </ul>

        <p>匿名で利用される方は<a href="/map">コチラ</a>から</p>
    </div>

    <div class="example-map">
    </div>